{% extends 'base.html' %}

{% load static %}

{% block cssCustom %}
    <link rel="stylesheet" href="{% static "css/register.css" %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}">

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font: 16px Arial;
        }

        /*the container must be positioned relative:*/
        .autocomplete {
            position: unset;
            display: inline-block;
        }

        input {
            border: 1px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 16px;
        }

        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
        }

        .autocomplete-items {
            position: unset;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
        }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

        /*when hovering an item:*/
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: DodgerBlue !important;
            color: #ffffff;
        }
    </style>
{% endblock cssCustom %}

{% block title %} Registrar planta{% endblock title %}
{% block cuerpo %}
    {% include "includes/header.html" with active_tab='MisPublicaciones' %}
    <main>
        <section class="vh-50 gradient-custom ">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <h2 class="fw-bold mb-2 text-uppercase">Editar Publicacion</h2>
                                    <div class="row-cols-sm-6">
                                        <img src="{{ form.fotografia_Pub.value.url }}"
                                             class="img-thumbnail"
                                             alt="Cinque Terre">
                                    </div>
                                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                        <div class="row">
                                            {% for field in form %}
                                                <div class="{% if field.label == "Cuidados" %}  col-sm-12 col-lg-12 mb-12 form-outline  {% else %} col-sm-12 col-lg-6 mb-4 form-outline {% endif %}">
                                                    <div class="col"><label
                                                            for="{{ field.name }}">{{ field.label }}</label>
                                                        {% if field.label == "Cuidados" %}<br> {% endif %}
                                                        {{ field }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <!-- Error messaging -->
                                        {% if form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                                {{ form.non_field_errors }}
                                            </div>
                                        {% endif %}
                                        {% for field in form %}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{ error|escape }}</strong> {{ field.name }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        <!-- /Error messaging -->
                                        <div class="row mb-2">
                                            <button class="btn btn-outline-light btn-sm px-1" type="submit">Registrar
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>



    {% include "includes/footer.html" %}
{% endblock cuerpo %}
{% block jsCustom %}
    <script src="{% static 'js/publicaciones.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'locales/bootstrap-datepicker.es.min.js' %}"></script>

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script>
        $(function () {
            var availableTags = [
                {% for p in Plantas %}
                    "{{p.nombre_Planta}}",
                {% endfor %}
            ];
            autocomplete(document.getElementById("id_planta_Pub"), availableTags);
        });
    </script>
{% endblock jsCustom %}