{% extends 'base.html' %}
{% load static %}

{% block cssCustom %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock cssCustom %}

{% block title %} Proyecto 1{% endblock title %}

{% block cuerpo %}
    {% include "includes/header.html" with active_tab='MisPublicaciones' %}
    <main class="container py-5">
        <h1>Mis Plantas</h1>
        <div class="row" data-masonry='{"percentPosition": true }'>
            {% for Planta  in ListaPublicaciones %}
                <div class="col-sm-6 col-lg-4 mb-4 text-black">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ Planta.usuario.nombres }} {{ Planta.usuario.apellidos }}</h5>
                            <p class="card-text">Contacto: {{ Planta.usuario.email }}</p>
                        </div>
                        <img src="{{ Planta.fotografia_Pub.url }}">

                        <div class="card-body row">
                            <h4 class="card-title">{{ Planta.planta_Pub.nombre_Planta }}</h4>
                            <h5 class="card-title">{{ Planta.planta_Pub.tipo_Planta.nombre_TipoPlanta }}</h5>
                            <h6 class="card-title">{{ Planta.planta_Pub.dimension_Planta.nombre_DimensionPlanta }}</h6>
                            <p class="card-text">{{ Planta.cuidados|safe }}</p>
                            <p class="card-text"><small class="text-muted">
                                Lugar: {{ Planta.lugar_Sembrada_Pub }} -- Fecha en que se
                                sembro:{{ Planta.fecha_Sembrada }}</small></p>
                            <p class="card-text"><small class="text-muted">
                                <a class="btn btn-warning" href="{% url 'Index_App:editar_publicacion' Planta.id %}" >Actualizar</a>
                                <a class="btn btn-danger"  href="{% url 'Index_App:eliminar_publicacion' Planta.id %}">Borrar</a>
                            </small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation example text-black">
            <ul class="pagination justify-content-center text-black">
                {% if page_obj.has_previous %}
                    <li class="page-item text-black"><a class="page-link text-black"
                                                        href="?page={{ page_obj.previous_page_number }}"
                                                        tabindex="-1">Previous</a></li>
                {% else %}
                    <li class="page-item disabled text-black"><a class="page-link text-black" href="#" tabindex="-1">Previous</a>
                    </li>
                {% endif %}

                {% for x in paginator.page_range %}
                    {% if page_obj.number == x %}
                        <li class=" text-black border-dark"><a class="page-link text-black"
                                                               style="color:black;background-color: #ffc107">{{ x }}</a>
                        </li>
                    {% else %}
                        <li class="page-item text-black"><a class="page-link text-black"
                                                            href="?page={{ x }}">{{ x }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link text-black" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link text-black" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </main>

    {% include "includes/footer.html" %}
{% endblock cuerpo %}
