<header class="p-3 text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="/static/img/Icon.png">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'Index_App:Index' %}"
                       class="nav-link px-2 text-secondary  {% if active_tab == 'Index' %} text-white {% endif %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'Index_App:nueva_publicacion' %}"
                           class="nav-link px-2 text-secondary text-secondary {% if active_tab == 'Publicar' %} text-white {% endif %}">Publicar</a>
                    </li>
                    <li><a href="{% url 'Index_App:user-publicaciones' %}"
                           class="nav-link px-2 text-secondary text-secondary {% if active_tab == 'MisPublicaciones' %} text-white {% endif %}">Mis
                        Publicaciones</a></li>
                    <li><a href="{% url 'Index_App:nueva_planta' %}"
                           class="nav-link px-2 text-secondary text-secondary {% if active_tab == 'NuevaPlanta' %} text-white {% endif %}">Nueva
                        Planta</a></li>
                    <li><a href="{% url 'Index_App:listar_plantas' %}"
                           class="nav-link px-2 text-secondary text-secondary {% if active_tab == 'Plantas' %} text-white {% endif %}">Plantas</a>
                    </li>
                {% endif %}
            </ul>


            {% if user.is_authenticated %}
                <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <a class="nav-link px-2 text-secondary text-white disabled">Bienvenido! {{ user.get_full_name }}</a>
                </div>
            {% endif %}

            {% if active_tab == 'Plantas' or active_tab == 'MisPublicaciones' or active_tab == 'Index' %}
                <form method="get">{% csrf_token %}
                    <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="text" class="form-control form-control-light" placeholder="Buscar planta..."
                               aria-label="Search" name="keyword" id="keyword">
                    </div>
                </form>
            {% endif %}

            {% if user.is_authenticated %}
                <div class="text-end">
                    <a class="btn btn-warning" href="{% url 'Users_App:user-logout' %}">Cerrar Sesion</a>
                </div>
            {% else %}
                <div class="text-end">
                    <a class="btn btn-outline-light me-2" href="{% url 'Users_App:user-login' %}">Iniciar Sesion</a>
                    <a class="btn btn-warning" href="{% url 'Users_App:user-register' %}">Registrarse</a>
                </div>
            {% endif %}


        </div>
    </div>
</header>