{% extends 'base.html' %}

{% load static %}

{% block cssCustom %}

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock cssCustom %}

{% block title %} Proyecto 1{% endblock title %}
{% block cuerpo %}

    <main class="container py-5">
        <h1>Plantas</h1>
        {% for Planta  in ListaPublicaciones %}
            <div class="row" data-masonry='{"percentPosition": true }'>
                <div class="col-sm-6 col-lg-4 mb-4 text-black">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ Planta.usuario.nombres }} {{ Planta.usuario.apellidos }}</h5>
                            <p class="card-text">Contacto: {{ Planta.usuario.email }}</p>
                        </div>
                        <img src="{{ Planta.fotografia_Pub.url }}">

                        <div class="card-body">
                            <h4 class="card-title">{{ Planta.planta_Pub.nombre_Planta }}</h4>
                            <h5 class="card-title">{{ Planta.planta_Pub.tipo_Planta.nombre_TipoPlanta }}</h5>
                            <h6 class="card-title">{{ Planta.planta_Pub.dimension_Planta.nombre_DimensionPlanta }}</h6>
                            <p class="card-text">{{ Planta.cuidados|safe }}</p>
                            <p class="card-text"><small class="text-muted">
                                Lugar: {{ Planta.lugar_Sembrada_Pub }} -- Fecha en que se
                                sembro:{{ Planta.fecha_Sembrada }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </main>



{% endblock cuerpo %}